In [8]:
import pandas as pd
import numpy as np

In [2]:
data = {'color' : ['blue', 'green', 'yellow', 'red', 'white'],
        'object' : ['ball', 'pen', 'pencil', 'paper', 'mug'],
        'price' : [1.2, 1.0, 0.6, 0.9, 1.7]}

In [3]:
frame = pd.DataFrame(data)

In [4]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [5]:
frame2 = pd.DataFrame(data, columns=['object', 'price'])

In [6]:
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [9]:
frame3 = pd.DataFrame(np.arange(16).reshape((4,4)),
                       index=['red', 'blue', 'yellow', 'white'],
                       columns=['ball', 'pen', 'pencil', 'paper'])

In [10]:
frame.columns

Index(['color', 'object', 'price'], dtype='object')

In [11]:
frame.index

RangeIndex(start=0, stop=5, step=1)

In [12]:
frame.values

array([['blue', 'ball', 1.2],
       ['green', 'pen', 1.0],
       ['yellow', 'pencil', 0.6],
       ['red', 'paper', 0.9],
       ['white', 'mug', 1.7]], dtype=object)

In [13]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [14]:
frame.price

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [15]:
frame.loc[2]

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [16]:
frame.loc[[2,4]]

    color  object  price
2  yellow  pencil    0.6
4   white     mug    1.7

In [17]:
frame[0:1]

  color object  price
0  blue   ball    1.2